<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Drawing</title>
        <!--My CSS -->
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <p>My canvas!</p>
        <div id="myCanvas">
            <canvas id="paint" width="500" height="250"></canvas>
        </div>

        <div id="settings"> Colors 
            <button onclick="getColor('blue')">Blue</button>
            <button onclick="getColor('red')">Red</button>
            <button onclick="getColor('green')">Green</button>
            <button onclick="getColor('black')">Black</button>
            <button onclick="getColor('white')">Eraser</button>
        </div>
        <div id="settings"> Brush Size
            <button onclick="getSize('2')">Small</button>
            <button onclick="getSize('5')">Medium</button>
            <button onclick="getSize('10')">Large</button>
            <button onclick="getSize('20')">XLarge</button>
        </div>
        <div id="settings">Start Again?
            <button onclick="clearAll()">Clear All</button>
        </div>
        <div id="save">Save to gallery
            <button onclick="saveUrl()">Save</button>
        </div>
        <!-- this is getting called, but not going anywhere yet -->
        <div>Gallery!
            <img src=saveUrl alt="new_img">
        </div>

        <script src="/static/index.js"></script>
    </body>
</html>